# erfc usage

In [66]:
import numpy as np
from scipy.special import erfc
from scipy.stats import tstd, tmean
a = np.array([8.02,8.16,3.97,8.64,0.84,4.46,0.81,7.74,8.78,9.26,20.46,29.87,10.38,25.71])
iteration, test = 1, erfc(abs((a - tmean(a))/tstd(a))) < 1/(2*len(a))
while any(test):
    a = a[test == False]
    test = erfc(abs((a - tmean(a))/tstd(a))) < 1/(2*len(a))
    print(f"Iteration {iteration}: {a}")
    iteration += 1

Iteration 1: [ 8.02  8.16  3.97  8.64  0.84  4.46  0.81  7.74  8.78  9.26 20.46 10.38]
Iteration 2: [ 8.02  8.16  3.97  8.64  0.84  4.46  0.81  7.74  8.78  9.26 10.38]
Iteration 3: [ 8.02  8.16  3.97  8.64  4.46  7.74  8.78  9.26 10.38]
Iteration 4: [ 8.02  8.16  8.64  7.74  8.78  9.26 10.38]
Iteration 5: [8.02 8.16 8.64 7.74 8.78 9.26]
Iteration 6: [8.02 8.16 8.64 8.78]

In [65]:
iteration, test = 1, erfc(abs((a - tmean(a))/tstd(a))) < 1/(2*len(a))
while any(test):
    a = a[test == False]
    test = erfc(abs((a - tmean(a))/tstd(a))) < 1/(2*len(a))
    print(f"Iteration {iteration}: {a}")
    iteration += 1

Iteration 1: [ 8.02  8.16  3.97  8.64  0.84  4.46  0.81  7.74  8.78  9.26 20.46 10.38]
Iteration 2: [ 8.02  8.16  3.97  8.64  0.84  4.46  0.81  7.74  8.78  9.26 10.38]
Iteration 3: [ 8.02  8.16  3.97  8.64  4.46  7.74  8.78  9.26 10.38]
Iteration 4: [ 8.02  8.16  8.64  7.74  8.78  9.26 10.38]
Iteration 5: [8.02 8.16 8.64 7.74 8.78 9.26]
Iteration 6: [8.02 8.16 8.64 8.78]

In [27]:
test<1/(2*len(a))

array([False, False, False, False, False, False, False, False, False,
       False, False,  True, False,  True])

In [35]:
np.where?

In [82]:
import pandas as pd
import numpy as np
from scipy.special import erfc

my_set = [8.02, 8.16, 3.97, 8.64, 0.84, 4.46, 0.81, 7.74, 8.78, 9.26, 20.46, 29.87, 10.38, 25.71]

df_my_set = pd.DataFrame(data=my_set).sort_values(0).rename(columns={0:'df_values'}).reset_index().loc[:,['df_values']]

delited_values = []
current_df = df_my_set # делаем копию датасета

iter = 1
while len(current_df)>2:
    current_df['input'] = (current_df.df_values - current_df.df_values.mean())/current_df.df_values.std()
    current_df['standarted_values'] = erfc(abs((current_df.df_values - current_df.df_values.mean()))/current_df.df_values.std()) # добавляем колоку со значениями erfc
    print(current_df)
    criterion = 1/(2*current_df.df_values.count()) # считаем критерий
    
    detected_values = current_df.query('standarted_values < @criterion').reset_index().loc[:, 'df_values'].to_list() # отбираем выбросы
    current_df = current_df.query('standarted_values >= @criterion').reset_index().loc[:, ['df_values']] # переопределяем датасет, оставив только не выбросы
    print(current_df)
    if len(detected_values) == 0: # если выбросов больше нет - выходим из цикла
        break
    else:
        print(f'Iter:{iter}, Delited values: {detected_values}')
        delited_values.extend(detected_values)
        iter += 1
print('-'*40)
print(f'Clean data: {current_df.df_values.to_list()}')

    df_values     input  standarted_values
0        0.81 -1.106037           0.117777
1        0.84 -1.102616           0.118917
2        3.97 -0.745614           0.291674
3        4.46 -0.689725           0.329352
4        7.74 -0.315615           0.655347
5        8.02 -0.283679           0.688286
6        8.16 -0.267711           0.704985
7        8.64 -0.212963           0.763281
8        8.78 -0.196995           0.780558
9        9.26 -0.142247           0.840568
10      10.38 -0.014502           0.983638
11      20.46  1.135204           0.108401
12      25.71  1.734008           0.014196
13      29.87  2.208490           0.001788
    df_values
0        0.81
1        0.84
2        3.97
3        4.46
4        7.74
5        8.02
6        8.16
7        8.64
8        8.78
9        9.26
10      10.38
11      20.46
Iter:1, Delited values: [25.71, 29.87]
    df_values     input  standarted_values
0        0.81 -1.319270           0.062079
1        0.84 -1.313463           0.063238
2        3.97 -0.707696           0.316907
3        4.46 -0.612864           0.386095
4        7.74  0.021934           0.975254
5        8.02  0.076124           0.914269
6        8.16  0.103219           0.883942
7        8.64  0.196116           0.781511
8        8.78  0.223211           0.752254
9        9.26  0.316109           0.654843
10      10.38  0.532869           0.451095
11      20.46  2.483710           0.000444
    df_values
0        0.81
1        0.84
2        3.97
3        4.46
4        7.74
5        8.02
6        8.16
7        8.64
8        8.78
9        9.26
10      10.38
Iter:2, Delited values: [20.46]
    df_values     input  standarted_values
0        0.81 -1.673311           0.017961
1        0.84 -1.664426           0.018580
2        3.97 -0.737441           0.296995
3        4.46 -0.592322           0.402216
4        7.74  0.379086           0.591883
5        8.02  0.462011           0.513509
6        8.16  0.503474           0.476453
7        8.64  0.645631           0.361211
8        8.78  0.687094           0.331201
9        9.26  0.829251           0.240901
10      10.38  1.160952           0.100624
   df_values
0       3.97
1       4.46
2       7.74
3       8.02
4       8.16
5       8.64
6       8.78
7       9.26
8      10.38
Iter:3, Delited values: [0.81, 0.84]
   df_values     input  standarted_values
0       3.97 -1.754604           0.013087
1       4.46 -1.524859           0.031047
2       7.74  0.013024           0.985305
3       8.02  0.144307           0.838291
4       8.16  0.209948           0.766534
5       8.64  0.435004           0.538430
6       8.78  0.500646           0.478933
7       9.26  0.725702           0.304752
8      10.38  1.250832           0.076903
   df_values
0       7.74
1       8.02
2       8.16
3       8.64
4       8.78
5       9.26
6      10.38
Iter:4, Delited values: [3.97, 4.46]
   df_values     input  standarted_values
0       7.74 -1.083757           0.125359
1       8.02 -0.771380           0.275318
2       8.16 -0.615192           0.384294
3       8.64 -0.079688           0.910272
4       8.78  0.076501           0.913847
5       9.26  0.612004           0.386762
6      10.38  1.861513           0.008474
   df_values
0       7.74
1       8.02
2       8.16
3       8.64
4       8.78
5       9.26
Iter:5, Delited values: [10.38]
   df_values     input  standarted_values
0       7.74 -1.236309           0.080394
1       8.02 -0.737031           0.297264
2       8.16 -0.487391           0.490650
3       8.64  0.368515           0.602256
4       8.78  0.618155           0.382008
5       9.26  1.474061           0.037102
   df_values
0       8.02
1       8.16
2       8.64
3       8.78
Iter:6, Delited values: [7.74, 9.26]
   df_values     input  standarted_values
0       8.02 -1.035508           0.143077
1       8.16 -0.654005           0.355016
2       8.64  0.654005           0.355016
3       8.78  1.035508           0.143077
   df_values
0       8.02
1       8.16
2       8.64
3       8.78
----------------------------------------
Clean data: [8.02, 8.16, 8.64, 8.78]